.divContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.footerPanel {
  text-align: center;
  background-color: #004777;
  border-radius: 12px;
  width: 60%;
  padding: 0.5rem;
}

.footerPanel td {
  width: 33%;
}

.footerLink {
  color: #b8ccfc;
  text-decoration: none; 
}

.footerLink:hover {
  color: white; 
  text-decoration: underline; 
}

.buttonLink {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: #b8ccfc;
  text-decoration: none;
  cursor: pointer;
}

.buttonLink:hover {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}