.header {
  width: 80%; 
  height: 5rem;
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
  justify-content: space-between;
  padding: 0 10%; 
}

.banner {
  width: 100%;
  height: 5rem;
  background: linear-gradient(to right, rgba(0, 71, 119, 1), rgba(0, 71, 119, 0.5)), url('../../assets/images/battery_banner.png') no-repeat center center;
  background-size: cover;
  background-color: #004777;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  font-size: 2rem;
  color: white;
}

.nav {
  flex: 1; /* nav takes up remaining space */
  display: flex;
  justify-content: space-between; /* Distribute space */
  align-items: center;
}

.nav .logo {
  font-size: 2rem;
  color: white;
  flex-basis: 1rem; 
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  width: 100%; /* Ensure the ul takes full width */
  z-index: 1; /* ensure it's above the banner */
  flex-wrap: nowrap;
}

.nav li {
  position: relative;
  padding: .25rem; 
  border-radius: 8px; 
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  flex: 1;
  min-width: 4rem;
  text-align: center;
}

.nav li:not(.logo):hover {
  background-color: gray; /* Change background color to gray on hover */
}

.nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #b8ccfc;
  padding: 0.25rem 0.5rem;
}

.nav a:hover,
.nav a.active {
  color: white;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  background-color: #004777;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu a {
  font-size: 1rem;
}

.dropdownMenu li {
  padding: 0.5rem 1rem;
  white-space: nowrap; 
  text-align: center; 
}

.dropdown::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #b8ccfc; /* Color of arrow */
  position: absolute;
  top: calc(50% - 3px); 
  right: 10px; 
}

.dropdownMenu .link {
  text-decoration: none;
  display: block;
  padding: 0.5rem 0; 
}


.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}
