.summaryColumn {
  width: auto; 
  white-space: nowrap; 
}

.annotatedRowCell {
  width: 100px; /* Fixed width for the second and third columns */
  white-space: nowrap; 
  text-decoration: underline dashed;
  text-decoration-color: lightgray; /* underline color */
}

.priorityColumn {
  width: 100px; /* Fixed width for the second and third columns */
  white-space: nowrap; 
}