.customDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 3;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGroup {
  display: flex;
  align-items: center;
  /* margin: 10px 0; */
  /* padding: 10px;  */
}

.inputGroup button {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.inputGroup input {
  width: 60px;
  text-align: center;
  /* box-sizing: border-box; */
  padding: 2px; /* Adjust as needed */
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.applyButton, .cancelButton {
  padding: 10px 20px; /* Adjust padding for buttons */
  background-color: #007bff; /* Example background color */
  color: white; /* Example text color */
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.applyButton:hover, .cancelButton:hover {
  background-color: #0056b3; /* Example hover background color */
}