.customForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  z-index: 3;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form {
  display: grid;
  gap: 10px;
}

.control {
  display: grid; 
  grid-template-columns: auto ;
  align-items: center; 
}

.control label {
  text-align: right;
  padding-right: 10px;
}

.control input {
  width: 100%;
}

.actions {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGroup {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.inputGroup button {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.input-group input {
  width: 60px;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-group button {
  margin: 5px;
  padding: 5px 10px;
}
