.updateButton {
  background-image: url('../../assets/icons/DGreenPlus.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px; 
  height: 20px; 
  display: inline-block;
  border: none; 
  text-align: center; /* Center any text inside the button */
  padding: 0;
}

.updateButton:hover {
  opacity: 0.6; /* Change opacity on hover */
}